@media (max-width: 1200px) {
    .promo {
        padding: 21px 0 79px 0;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 95%;
    }
    .button {
        &_main {
            margin-top: 58px;
        }
    }
    .promo {
        &__subheader {
            margin-top: 10px;
        }
        &__icons {
            margin-top: 56px;
        }
        &__link {
            margin-top: 15px;
        }
    }
    .advantage {
        padding: 60px 0 72px 0;
        &__wrapper {
            margin-top: 57px;
        }
    }
    .consultation {
        padding: 95px 0 87px 0;
        min-height: 660px;
    }
    .carusel__inner{
        width: 95%;
        img{
            width: 100%;
        }
    }
    .slick-dots {
        padding: 0px;
        list-style-type: none;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        width: 8%;
        button {
            font-size: 0;
            width: 10px;
            height: 10px;
            margin: 0 auto;
            border: none;
            background-color: rgb(148, 144, 144);
            border-radius: 100%;
        }
    }
    .slick-active {
        button {
            background-color: $main-color;
            border: none;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 95%;
    }
    .header {
        &__official {
            display: none;
        }
    }
}

@media (max-width: 479px) {
    .container {
        max-width: 95%;
    }
    .button {
        width: 117px;
        height: 19px;
        font-size: 10px;
        &_main {
            width: 300px;
            height: 50px;
            font-size: 15px;
        }
        &_submit {
            width: 300px;
            height: 50px;
            font-size: 15px;
        }
    }
    .header {
        &__logo {
            width: 148px;
        }
        &__phone {
            font-size: 12px;
        }
    }
    .promo {
        min-height: 560px;
        &__wrapper {
            margin-top: 62px;
        }
        &__header {
            font-size: 24px;
            line-height: 24px;
        }
        &__subheader {
            font-size: 13px;
            line-height: 13px;
        }
        &__icons {
            width: 305px;
        }
        &__icon {
            font-size: 12px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .title {
        font-size: 22px;
        &_left {
            text-align: center;
            font-size: 20px;
        }
    }
    .advantage {
        &__wrapper {
            margin-top: 17px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            &_header {
                margin-bottom: 6px;
            }
            img {
                margin-bottom: 11px;
                margin-top: 18px;
            }
        }
    }
    .consultation {
        padding: 70px 0 87px 0;
        min-height: 600px;
        &__descr {
            text-align: center;
            font-size: 16px;
        }
    }
    .feed-form {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .slick-dots{
        width: 10%;
    }
    .catalog{
        &__tab{
            font-size: 13px;
        }
    }
    .comment{
        &__img{
            height: 125px;
            width: 125px;
        }
        &__feedback{
            margin-left: 25px;
        }
    }
    .footer{
        &__info{
            width: 400px;
            height: 215px;
        }
        &__addr{
            font-size: 16px;
            line-height: 0px;
        }
        &__phone{
                font-size: 16px;
                line-height: 0px;
        }
    }
}