@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantage';
@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/carusel';
@import 'blocks/catalog';
@import 'blocks/comment';
@import 'blocks/footer';
*{
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container{
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}



@import 'base/media';